@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom checkbox start */
.custom-checkbox label {
    @apply relative px-0 py-3 pl-8 text-green-500 text-base font-normal font-sans;
  }
  
  .custom-checkbox label:before {
    @apply absolute w-5 h-5 bg-transparent border border-green-500 top-2.5 left-2;
    content: "";
  }
  
  .custom-checkbox {
    @apply relative block;
  }
  
  .custom-checkbox input:checked+label:before {
    @apply bg-green-500;
  }
  
  .custom-checkbox.empt label:before {
    @apply top-[-12px];
  }
  
  .custom-checkbox.empt input:checked+label:after {
    @apply top-[-3px];
  }
  
  .custom-checkbox input:checked+label:after {
    @apply absolute left-3 top-5 bg-black w-0.5 h-0.5 rotate-45;
    content: "";
    box-shadow: 2px 0 0 #000, 4px 0 0 #000, 4px -2px 0 #000, 4px -4px 0 #000, 4px -6px 0 #000, 4px -8px 0 #000;
  }
  /* custom checkbox end */
  